<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Decrypted Message:</h1>
    <p><%= msg %></p>
  </body>
</html>